@import "../../../../../assets/scss/variables.scss";
@import "../../../../../assets/scss/mixins.scss";

.container{
    padding: 0 30px;
    overflow: auto;
    max-height: 67vh;
}

.name-text{
    color: $primary-color;
    font-size: 16px;
    font-weight: 700;
}

.username-text{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #9DB6D0;
    margin-top: 5px;
}
