@import '../../../../assets/scss/mixins.scss';

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E7EDF4;
}

.and{
    @include respond (big-phone){
        margin-top: 0 !important;
    }
}

.log{
    @include respond (big-phone){
        margin-top: 60px;
    }
}