<div class="full-height">    
    <div class="bottom-section">
        <!-- <div class="grid" *ngIf="feedList.length > 0 && !error && !loading">
            <div  *ngFor="let feed of feedList" class="feed-section">
                <div class="mt-1">
                    <div *ngIf="feed?.type == 'image' " class="full-width feed-radius">
                        <img class="single-height feed-radius" (click)="displayImage(feed.image)"
                        [src]="postUrl + feed?.image" alt="new.png">
                    </div>

                    <div class="full-width feed-radius" *ngIf="feed?.type == 'video' " >
                        <video class="full-width feed-radius" controls>
                            <source [src]="videoUrl + feed.video" type="video/mp4">
                            <source [src]="videoUrl + feed.video" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div *ngIf="moreLoading " class="more-positioning mt-1">
            <mat-progress-spinner
            diameter="30"
            color="primary"
            mode="indeterminate">
            </mat-progress-spinner>
        </div> -->

        <div class="section-positioning"  *ngIf="loading">
            <app-app-loader></app-app-loader>
        </div>

        <div class="section-positioning"  *ngIf="!loading && !error && feedList.length <= 0">
            <app-empty-state [width]="30" [message]="'No Media'"></app-empty-state>
        </div>

        <div class="section-positioning"  *ngIf="!loading && error">
            <app-error-state [width]="30" [message]="message"></app-error-state>
        </div>
    </div>
</div>