<div *ngIf="!loading && !error">
    <div class="main-text">
        Let's know your interest
    </div>
    <div>
        <div class="item-container mt-5 mb-6" *ngIf="interests.length > 0">
            <div class="item" *ngFor="let item of interests; let i = index" (click)="setActive(item, i)"
            [ngClass]="{'item': item, 'active-item': item.active == 1}">
                {{item.interest}}
            </div>
        </div>

        <div class="mt-4" *ngIf="interests.length <= 0">
            <app-empty-state [message]="'No Interests available'"></app-empty-state>
        </div>
    
        <div class="flex-btw mt-4 button-spacing">
            <button class="general-btn-style" (click)="back()" color="primary" mat-flat-button>
                Back
            </button>

            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        
            <button (click)="next()" [disabled]="setLoading" class="general-btn-style" color="primary" mat-flat-button>
                <span *ngIf="setLoading" class="spinner-positioning">
                    <mat-progress-spinner
                    diameter="30"
                    color="primary"
                    mode="indeterminate">
                    </mat-progress-spinner>
                </span>
                <span *ngIf="!setLoading">Next</span>
            </button>
        </div>
    
    </div>
</div>

<div class="mt-4" *ngIf="!loading && error">
    <app-error-state  [message]="message" (retry)="getInterests()"></app-error-state>
</div>

<div class="mt-4" *ngIf="loading">
    <app-app-loader></app-app-loader>
</div>


