<div class="container">
    <div>
        <img src="assets/images/app_logo_blue.png" width="250" alt="logo">
    </div>

    <div class="mt-4 main-text">
        Email sent successfully
    </div>

    <div class="mt-1 mail">
        <img src="assets/images/mailsent.svg" width="30px" alt="mailsent">
    </div>

    <div style="cursor: pointer;" class="mt-6" routerLink="/">
        <img src="assets/images/backbutton.svg" width="30px" alt="backbutton">
    </div>

    <div class="mt-1 login-text">
        Back to login page
    </div>

</div>
