<div class="container">
    <div>
        <img src="assets/images/app_logo_blue.png" width="250" alt="logo">
    </div>

    <div class="mt-4 main-text">
        Enter your email here. You will receive a password reset link in your email.
    </div>

    <form [formGroup]="forgotForm" class="form-width mt-4">
        <mat-form-field class="full-width signup-form" appearance="fill" color="#E7EDF4">
            <span class="form-title" matPrefix style="position: relative;">
                Email
                &nbsp;
            </span>
            <input formControlName="email" type="email" matInput>
        </mat-form-field>
    </form>

    <div *ngIf="errorMsg" class="errormsg form-width">{{errorMsg}}</div>

    <div class="mt-2 form-width">
        <button class="full-width general-btn-style" [disabled]="forgotForm.invalid || loading"
        (click)="sendMail()" color="primary" mat-flat-button>
            <span *ngIf="loading" class="spinner-positioning">
                <mat-progress-spinner
                diameter="30"
                color="primary"
                mode="indeterminate">
                </mat-progress-spinner>
            </span>
            <span *ngIf="!loading">Recover my password</span>
        </button>
    </div>

    <div style="cursor: pointer;" class="mt-4" routerLink="/">
        <img src="assets/images/backbutton.svg" width="30px" alt="backbutton">
    </div>

    <div class="mt-1 login-text">
        Back to login page
    </div>
</div>
