@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins.scss";

.container{
    height: 100vh;
}

.login-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    @include respond(tab-port){
        height: auto;
        margin-top: 40px;
    }
}

.top-margin{
    margin-top: 50px;

    @include respond(tab-port){
        margin-top: 20px;
    }

}

.header-section{
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #0F4C8D;
}

.form-section{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond(tab-land){
        width: 70%;
    }

    @include respond(tab-port){
        width: 100%;
    }
}

.form-title{
    color: #386AA0;
    font-size: 12px;
    font-weight: 400;

    @include respond(tab-land){
        font-size: 9px;
    }
}

.general-btn-style{
    border-radius: 10px;
    padding: 4px 0;
    border-radius: 10px;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
}

.forgot-password{
    color: $primary-color;
    font-size: 13px;
}

.link-highlight{
    cursor: pointer;

    &:hover{
        text-decoration: underline;
    }
}


::ng-deep .signup-form{
    &.mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 10px !important;
        padding: 4px 15px !important;
        background-color: #E7EDF4;
    }

    .mat-form-field-underline {
        width: 0 !important;
    }
    
    &.mat-form-field-appearance-fill .mat-form-field-infix {
        padding: 0.45em 0.25em 0.75em 0.45em !important;
        font-size: 12px;
        color: $primary-color !important;
    }

    .mat-form-field-prefix, .mat-form-field-suffix {
        white-space: nowrap;
        flex: none;
        position: relative;
        width: 30%;
        border-right: 1px solid #9DB6D0;
        text-align: end;
        padding: 5px 0;

        @include respond(small-phone){
            width: 20%;
        }
    }

    .mat-form-field-suffix {
        white-space: nowrap;
        flex: none;
        position: relative;
        width: 10%;
        border: none;
    }
}
.spinner-positioning{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
}