<div class="container flex-el">
    <div class="side-nav">
        <div class="top-section">
            <div class="top-height">
                <div class="logo">
                    <img src="assets/images/app_logo_blue.png" width="180" alt="logo">
                </div>
    
                <div class="header-section">
                    Welcome to Classlytica!
                </div>
    
                <div class="sub-section mt-1">
                    Classlytica is your number one online platform that connects schools, students and parents in Africa for free!
                </div>
            </div>
    
            
        </div>
        
        <div class="bottom-section">
            <img class="image-positoning" src="assets/images/login_background.png" alt="">
        </div>
    </div>

    <div class="login-section">
        <app-login></app-login>
    </div>
</div>
