.container{
    padding: 0 40px;
}

.header{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.heading-section{
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #FFFFFF;
    margin-bottom: 5px;
}

.section-header{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.label{
    font-size: 14px;
    color: #FFFFFF;
}

.top-margin{
    margin-top: 5px;
}

.loader-positioning{
    height: 80vh;
}
